@model IEnumerable<GlammyStore.Web.Models.BrandViewModel>

@if (Model.Count() > 0)
{
    <section class="brands_carousel">
        <!-- CONTAINER -->
        <div class="container">
            <!-- JCAROUSEL -->
            <div class="jcarousel-wrapper">
                <!-- NAVIGATION -->
                <div class="jCarousel_pagination">
                    <a href="javascript:void(0);" class="jcarousel-control-prev"><i class="fa fa-angle-left"></i></a>
                    <a href="javascript:void(0);" class="jcarousel-control-next"><i class="fa fa-angle-right"></i></a>
                </div><!-- //NAVIGATION -->

                <div class="jcarousel" data-appear-top-offset='-100' data-animated='fadeInUp'>
                    <ul>
                        @foreach (var brand in Model)
                        {
                            <li><a href="javascript:void(0);"><img src="@brand.Image" alt="@brand.Name" /></a></li>
                        }
                    </ul>
                </div>
            </div><!-- //JCAROUSEL -->
        </div><!-- //CONTAINER -->
    </section>
}
<!-- //BRANDS -->
